ExifRead>=2.3.2
numpy>=1.19.3   # there might be Windows problem with numpy==1.19.4
pandas>=1.1.5   # 1.1.5 works ok
Pillow>=8.3.2
python-dateutil>=2.8.1
pytz>=2020.5
tqdm>=4.62.3
pydantic>=1.7.3

# Development requirements
pdoc3>=0.9.2
pytest>=6.2.1
jupyter
great-expectations>=0.13.35
dataenforce>=0.1.2
MonkeyType>=21.5.0
pytest-monkeytype
pytest-mypy

mypy>=0.910
data-science-types  # stubs for pandas, numpy, matplotlib
flake8
flake8-docstrings>=1.6.0
# darglint # A functional docstring linter which checks whether a docstring's description matches the actual function/method implementation.
flake8-pytest-style
flake8-black

pysimplegui>=4.48.0
