ExifRead==2.3.2
numpy==1.19.3   # there is Windows problem with numpy==1.19.4
pandas==1.1.5   # 1.1.5 works ok
Pillow==8.0.1
python-dateutil==2.8.1
pytz==2020.5
tqdm==4.55.0

# Development requirements
pdoc3==0.9.2
pytest==6.2.1
jupyter
great-expectations==0.13.4
dataenforce==0.1.2
MonkeyType
pytest-monkeytype
pytest-mypy
mypy
flake8
flake8-commas==2.0.0
flake8-docstrings==1.5.0
flake8-print==4.0.0
# darglint # A functional docstring linter which checks whether a docstring's description matches the actual function/method implementation.
flake8-expression-complexity # An extension for flake8 that validates expression complexity.
flake8-comprehensions
flake8-bugbear
flake8-pytest-style
flake8-black
